<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee</title>
    
</head>
<body>
    <div class="fill">
        <form action="/" method="POST">
            <label for="name">Name: </label>
            <input type="text" name="name" id="name">
            <label for="name">Email: </label>
            <input type="email" name="email" id="email">
            <button type="submit">submit</button>
        </form>
    </div>
    <h1>Employee Lists</h1>
    <div class="empList">
        <% employees.forEach( (employee) => {%>
            <h5>Name: </h5>
            <h5> <%= employee.name %> </h5>
            <h5>Email: </h5>
            <h5> <%= employee.email %> </h5>
            <% })%>
            
    </div>
</body>
</html>